body{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: azure;
}
header{
    text-align: center;
}
.label{
    text-align: left;
}
.input-field{
height: 20px;
width: 200px;
margin-top: 8px;
margin-bottom: 8px;
text-align: left;
}
#item{
    width: 60px;
}
#submit{
    width: 100px;
    height: 80px;
    border-radius:10px;
}
